{
  "presets": [ "@babel/react", "@babel/env"],
  "plugins": ["@babel/transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["import", { "libraryName": "antd", "libraryDirectory": "lib"}, "ant"]
  ]

}
