body {
  border-style: none;
  list-style: none;
  background: url("http://img-test.aixuexi.com/zszl/office/1539681831906/background.jpg") no-repeat center;
}
.blog-style {
  width: 100%;
  font-size: 22px;
}
.img-box {
  width: 200px;
  height: 200px;
  border: 1px solid mediumturquoise;
}

body,
p {
  margin: 0;
  padding: 0;
  outline-style: none;
  list-style: none;
}
.chat-window {
  width: 70%;
  height: 80%;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  box-shadow: 5px 5px 2px rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 15%;
  top: 10%;
  display: flex;
}
.chat-window .left-menu-room {
  width: 200px;
  padding: 5px;
  border-right: 1px solid #ccc;
  font-family: Castellar;
  font-size: 17px;
}
.chat-window .left-menu-room ul,
.chat-window .left-menu-room li {
  list-style: none;
}
.chat-window .left-menu-room li {
  border-bottom: 1px solid #ccc;
}
.chat-window .msg-content {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.chat-window .msg-content .msg-wrap {
  position: absolute;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
  top: 0;
  bottom: 100px;
}
.chat-window .msg-content .msg-wrap .message-right {
  text-align: right;
  display: block;
  width: 100%;
  word-wrap: break-word;
  margin-top: 10px;
}
.chat-window .msg-content .msg-wrap .message-right span {
  background: #CCE4FC;
  padding: 0 10px;
  border-radius: 3px;
  display: inline-block;
  max-width: 70%;
}
.chat-window .msg-content .msg-wrap .message-left {
  text-align: right;
  display: block;
  width: 100%;
  word-wrap: break-word;
  margin-top: 10px;
  text-align: left;
}
.chat-window .msg-content .msg-wrap .message-left span {
  background: #CCE4FC;
  padding: 0 10px;
  border-radius: 3px;
  display: inline-block;
  max-width: 70%;
}
.chat-window .msg-content .msg-wrap .message-left span {
  background: #DEE0E3;
}
.chat-window .msg-content .send-message {
  width: 100%;
  position: absolute;
  bottom: 1px;
  border-top: 1px solid #cccccc;
}
@media screen and (max-width: 500px) {
  .left-menu-room {
    display: none;
  }
  .msg-wrap {
    height: 70%;
  }
  .chat-window {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 10%;
  }
  body {
    background: url("http://img-test.aixuexi.com/zszl/office/1541158343122/web.jpg") no-repeat center;
  }
}

